{{!-- //TODO: finish putting together the HTML and add style to style sheet --}}
<img src="/assets/img/burger.jpg" alt="image of a burger" id="bigBurger" />


<h2>Burgers to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{/unless}}
    {{/each}}
</ul>


<h2>Burgers that have been devoured!</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}

    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
{{!-- Add a box to add a burger name --}}