<img src="../public/assets/img/burger.jpg">


<h2>Burgers to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{!-- TODO:  --}}
    {{}}
    {{/unless}}
    {{/each}}
</ul>


<h2>Burgers that have been devoured!</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- TODO:  --}}
    {{}}
    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>