{{!-- //TODO: finish putting together the HTML and add style to style sheet --}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <img src="/assets/img/burger.jpg" alt="image of a burger" id="bigBurger" />

        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Burgers to eat!</h2>
            {{#each burgers}}
            {{#unless devoured}}
            {{/unless}}
            {{/each}}
        </div>


        <div class="col-6">
            <h2>Devoured Burgers!</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}

                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Add a Burger</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="add-burger">

                <div>
                    <label for="newBurger"></label>
                    <input type="text" id="newBurger" name="burgerName">
                </div>
                <button type="submit" id="subBurger">Add Burger</button>
            </form>
        </div>
    </div>
</div>